{% extends 'base.html.twig' %}

{% block body %}
    <h1>Entrenadore</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entrenadore.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entrenadore.nombre }}</td>
            </tr>
            <tr>
                <th>Titulaciones</th>
                <td>{{ entrenadore.titulaciones }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entrenadore.apellidos }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ entrenadore.telefono1 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entrenadores_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('entrenadores_edit', { 'id': entrenadore.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
